[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Exercism exercises in Perl 5.
[access "refs/*"]
	owner = group user/Nisarg (ixnisarg)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Nisarg (ixnisarg)
	label-Verified = -1..+1 group user/Nisarg (ixnisarg)
	push = group user/Nisarg (ixnisarg)
	read = group user/Nisarg (ixnisarg)
	rebase = group user/Nisarg (ixnisarg)
	removeReviewer = group user/Nisarg (ixnisarg)
	submit = group user/Nisarg (ixnisarg)
[access "refs/heads/*"]
	create = group user/Nisarg (ixnisarg)
	push = +force group user/Nisarg (ixnisarg)
	pushMerge = group user/Nisarg (ixnisarg)
	read = group user/Nisarg (ixnisarg)
[access "refs/tags/*"]
	push = group user/Nisarg (ixnisarg)
	push = +force group user/Nisarg (ixnisarg)
